html {

}

main {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-form {
    width: 650px;
}

.header {
    position: absolute;
    top: 0;
    width: 100%;
}

ul {
    list-style-type: none;
}

.links a {
    color: #000000;
    text-decoration: none;
}

.header-container, .footer-container {
    display: flex;
    justify-content: space-between;
}

.left-header, .right-header, .left-footer, .right-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.left-header {
    width: 10%;
}

.right-header {
    width: 22%;
}

.fa-th {
    max-width: 100%;
    height: auto;
}

.sign-in {
    cursor: pointer;
    height: 45px;
    width: 100px;
    background-color: blue;
    color: white;
    border-radius: 8px;
    font-weight:600;
}

.form-group {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: solid lightgray 1px;
    border-radius: 25px;
    margin-bottom: 30px;
    margin-top: 25px;
    height: 35px;
    padding: 7px;
}

.form-input {
    width: 90%;
}

input {
    border: none;
}

.fas {
    color: gray;
}

.submits {
    background-color: white;
    padding: 9px;
    margin: 5px;
    font-size: 16.5px;
}

.submits:hover {
    border: solid #dadce0 1px;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
}

.footer-container {
    background-color: #f2f2f2;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.left-footer {
    width: 28.5%;
}

.right-footer {
    width: 18%;
}

.footer-links a {
    color: #70757a;
    text-decoration: none;
}
