html {

}

.header {
    position: absolute;
    top: 0;
    width: 100%;
}

ul {
    list-style-type: none;
}

.links a {
    color: #000000;
    text-decoration: none;
}

.header-container, .footer-container {
    display: flex;
    background-color: yellow;
    justify-content: space-between;
}

.left-header, .right-header, .left-footer, .right-footer {
    display: flex;
    background-color: red;
    justify-content: space-around;
    width: 12%;
    align-items: center;
}

.right-header {
    background-color: aqua;
    width: 24%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.left-footer {
    width: 30%;
}

.right-footer {
    width: 20%;
}

